.searchbar {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  height: 2.5rem;
  width: fit-content;
}

.searchbar > input {
  border: none;
  outline: none;
  padding: 0.2rem;
  margin: 0 0.2rem;
}

.searchbar .select-wrapper {
  display: flex;
}

.searchbar .select-wrapper select {
  border: none;
  outline: none;
  padding: 0.2rem;
  margin: 0 0.2rem;
}
.vLine {
  border-left: 2px solid black;
  height: 100%;
}
