@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* NOTE */
.note-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem;
}

.note-container {
  display: flex;
  flex-direction: row;
  background-color: #cdac81;
  width: 100%;
  height: 100%;
  margin: 1rem;
  color: white;
  border-radius: 5px;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 30px 20px rgba(0, 0, 0, 0.086);
}

.date {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.note {
  flex: 1;
  padding: 1rem;
}

.note h1 {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  line-height: 150%;
}

.note h1::after {
  content: " ";
  display: block;
  border: 1px solid white;
}

.note p {
  padding: 0 0.5rem;
}
/* END NOTE */

/* SEARCH */
.searchbar {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  height: 2.5rem;
  width: fit-content;
}

.searchbar > input {
  border: none;
  outline: none;
  padding: 0.2rem;
  margin: 0 0.2rem;
}

.searchbar .select-wrapper {
  display: flex;
}

.searchbar .select-wrapper select {
  border: none;
  outline: none;
  padding: 0.2rem;
  margin: 0 0.2rem;
}
.vLine {
  border-left: 2px solid black;
  height: 100%;
}
/* END SEARCH */

/* EDIT */
.cta .edit {
  padding: 1rem;
}
.cta .remove {
  padding: 1rem;
}
.cta a {
  color: white;
  font-size: 20px;
}
